<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="APPLICATION_LOG" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="${catalina.home}/logs/components-test.log"/>
        <param name="MaxFileSize" value="40MB"/>
        <param name="MaxBackupIndex" value="1"/>
        <param name="Encoding" value="cp1251"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p %d{dd.MM.yyyy HH:mm:ss,SSS} %t (%-c.%M():%L) [%x] - %m%n"/>
        </layout>
    </appender>

    <appender name="CONSOLE_LOG" class="org.apache.log4j.ConsoleAppender">
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%-5p %d{dd.MM.yyyy HH:mm:ss,SSS} %t (%-c.%M():%L) [%x] - %m%n"/>
        </layout>
    </appender>

    <logger name="ru.anc.work">
        <level value="debug"/>
    </logger>

    <logger name="ru.tndmsoft">
        <level value="debug"/>
    </logger>

    <root>
        <priority value="error"/>
        <appender-ref ref="CONSOLE_LOG"/>
        <appender-ref ref="APPLICATION_LOG"/>
    </root>
</log4j:configuration>